.equipment-item-input {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px;
    color: black;
    border-radius: 6px;
    background-color: rgba(31, 41, 55, 0.4);
}

.equipment-item-input:hover {
    background-color: rgba(55, 65, 81, 0.4);
}

.equipment-editor-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.equipment-items-list {
    flex: 1;
    padding-right: 10px;
    margin-bottom: 10px;
    width: 100%; 
}

.equipment-editor {
    text-align: center;
    width: 100%;
}

.equipment-item-input > * {
    flex: 1;
    padding: .2em 2em;
}

.equipment-item-input > *:nth-child(3) {
    flex: 0.3;
}

.equipment-item-input input,
.equipment-item-input select {
    width: 100%;
}

.equipment-item-input input[type="number"] {
    text-align: right;
}

.equipment-item-input select option {
    color: #006400;
    background-color: #B4FFBE;
}

.delete-equipment-button {
    margin-left: auto;
    background-color: rgba(239, 68, 68, 0.2);
    color: #ef4444;
    padding: 5px 8px;
    border-radius: 4px;
    transition: all 0.2s;
    font-size: 0.8rem;
}

.delete-equipment-button:hover {
    background-color: rgba(239, 68, 68, 0.4);
}

.add-equipment-button {
    background-color: #374151;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    align-self: center;
    margin-top: 10px;
    transition: all 0.2s;
    font-weight: 500;
}

.add-equipment-button:hover {
    background-color: #4b5563;
    transform: translateY(-1px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}